.body-container {
    width: 100%;
    text-align: center;
}

.search-container{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 5px;
}

.result-container{
    display: inline-block;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    max-height: 70vh;
    overflow-y: auto;
}

.result-card{
  margin-top: 5px;
  width: 30vw;
  cursor: pointer;
}

.result-card:hover {
  background-color: #c2185b;
}

.rider-result{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(209, 248, 248);
    color: rgb(0, 0, 0);
    width: 300px;
}

.rider-result:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.form-card{
  align-items: center; 
  justify-content: center;
  width: fit-content;
}

.loader{
  align-items: center; 
  justify-content: center;
  width: fit-content;
  margin-top: 10px;
}