@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  min-height: 100vh;
}
.list {
  position: relative;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}

.body-container {
    width: 100%;
    text-align: center;
}

.result-container{
    display: inline-block;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.rider-result{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(209, 248, 248);
    color: rgb(0, 0, 0);
    width: 300px;
}

.rider-result:hover {
    cursor: pointer;
    background-color: aliceblue;
}