<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="col-12 row">
  <div class="col-md-3"></div>
  <div class="col-12 col-md-2 rider-profile" *ngIf="!isLoading">
    <div class="rider-image">
      <img src="../../assets/img/testProfileImg.jpg" />
    </div>
    <div class="rider-card">
      <p>
        <mat-label>
          <h1>{{ racerProfile.firstName }} {{ racerProfile.lastName }}</h1>
        </mat-label>
      </p>
      <p>
        <label>
          <h2><b>AMA Member: </b>{{ racerProfile.amaNumber }}</h2>
        </label>
      </p>
      <h2>
        <b>Rank: </b><span [ngClass]="rankCss">{{ riderRank }}</span>
      </h2>
      <p class="rank">
        <mat-progress-bar [value]="experienceProgress"></mat-progress-bar>
      </p>
      <p>{{ experienceToLevelUp }}</p>
      <p><b>Rider Class:</b> {{ racerProfile.class }}</p>
      <p><b>Total Podiums All-Time:</b> {{ racerTotalPodiums }}</p>
      <p><b>Total Races All-Time:</b> {{ racerTotalRaces }}</p>
      <p>
        <b>Podium Average:</b>
        {{ ((racerTotalPodiums / racerTotalRaces) * 100).toFixed() }}%
      </p>
      <p>
        <b>Rider Birthdate:</b>
        {{ racerProfile.birthdate | date : "longDate" }}
      </p>
      <p>
        <b>Home Town:</b> {{ racerProfile.city }},
        {{ racerProfile.state.toUpperCase() }}
      </p>
    </div>
  </div>
  <div *ngIf="!isLoading" class="col-12 col-md-5 rider-info">
    <div class="race-list">
      <div>
        <h1>Race History</h1>
      </div>
      <mat-card class="wider-card">
        <div>
          <div>
            <div
              *ngFor="let r of racerResults; let last = last"
              lines="full"
              class="race-list-data"
            >
              <label>
                <h2>
                  <b>{{ r.eventName }} {{ r.year }}</b>
                </h2>
                <p [hidden]="r.trackName == 'Unknown AMA Venue'">
                  <b>Venue:</b> {{ r.trackName }}
                </p>
                <p><b>City:</b> {{ r.city }}, {{ r.state }}</p>
                <p><b>District:</b> {{ r.district }}</p>
                <p><b>Class:</b> {{ r.class }}</p>
                <p><b>Date:</b> {{ r.dateString | date : "longDate" }}</p>
                <p><b>Overall:</b> {{ r.overallResult }}</p>
                <p>
                  <button
                    mat-raised-button
                    color="primary"
                    id="{{ modalID }}"
                    expand="block"
                    (click)="getRaceDetails(r.classSlug)"
                  >
                    View Results
                  </button>
                </p>
              </label>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
