.about{
    margin-top: 10px;
}

.race-list{

}

.rider-profile{
    margin-left: -27px;
    zoom: 1.2;
}

.rider-info{
    max-width: 65%;
}

.rider-card{
    margin: 5px;
}

.race-list{
    margin-left: 10px;
    width: 40vw;
    text-align: center;
}

.race-history-btn{
    margin-bottom: 10px;
    margin-right: 11px;
}

.race-list-data{
    margin-top: 10px;
}

.rider-image{
    margin: 5px;
    margin-bottom: 10px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid 3px rgba(255, 255, 255, 0.473);
    box-shadow: 0 0 3px 2px rgba(204, 204, 204, 0.445);
    background-color: rgba(204, 204, 204, 0.534);
}

img {
    border-radius: 10px;
}

.container{
    width: 100%;
    display: block;
}

.rank{
    max-width: 70%;
}

.tracks-list{
    margin-top: 10px;
}

.center{
    text-align: center;
}

.cell-pad{
    padding: 5px;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}
.post-content{
    margin-top: 10px;
    
}

.post-form{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.content-area{
    border-radius: 10px;
    border: solid 3px rgba(255, 255, 255, 0.473);
    box-shadow: 0 0 3px 2px rgba(204, 204, 204, 0.445);
}

.feed{
    min-height: 100%;
    display: contents;
}

.feed-card{
    min-height: 100%;
    margin-top: 10px;
}

.feed-divider{
    margin-bottom: 10px;
    margin-top: 10px;
}