<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="col-12 row">
  <div class="col-md-3"></div>
  <div class="col-12 col-md-2 rider-profile" *ngIf="!isLoading">
    <div class="rider-image">
      <img src="../../assets/img/testProfileImg.jpg" />
    </div>
    <div class="rider-card">
      <p>
        <mat-label>
          <h1>{{ racerProfile.firstName }} {{ racerProfile.lastName }}</h1>
        </mat-label>
      </p>
      <p>
        <mat-label>
          <h2><b>AMA Member: </b>{{ racerProfile.amaNumber }}</h2>
        </mat-label>
      </p>
      <h2>
        <b>Rank: </b><span [ngClass]="rankCss">{{ riderRank }}</span>
      </h2>
      <p class="rank">
        <mat-progress-bar [value]="experienceProgress"></mat-progress-bar>
      </p>
      <p>{{ experienceToLevelUp }}</p>
      <p><b>Rider Class:</b> {{ racerProfile.class }}</p>
      <p><b>Total Podiums All-Time:</b> {{ racerTotalPodiums }}</p>
      <p><b>Total Races All-Time:</b> {{ racerTotalRaces }}</p>
      <p>
        <b>Podium Average:</b>
        {{ ((racerTotalPodiums / racerTotalRaces) * 100).toFixed() }}%
      </p>
      <p>
        <b>Rider Birthdate:</b>
        {{ racerProfile.birthdate | date : "longDate" }}
      </p>
      <p>
        <b>Home Town:</b> {{ racerProfile.city }},
        {{ racerProfile.state.toUpperCase() }}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="tracks-list">
      <p>
        <mat-label><h1>Favorite Tracks</h1></mat-label>
      </p>
      <ul>
        <li>test</li>
        <li>test</li>
      </ul>
    </div>
  </div>
  <div *ngIf="!isLoading" class="col-12 col-md-5 rider-info">
    <div class="right">
      <button
        mat-raised-button
        color="primary"
        class="race-history-btn"
        (click)="toggleRaceHistory()"
      >
        {{ isShowingRaceHistory ? "Hide" : "Show" }} Race History
      </button>
    </div>
    <mat-divider *ngIf="!isShowingRaceHistory"></mat-divider>
    <div class="race-list" *ngIf="isShowingRaceHistory">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 demo-table"
        *ngIf="racerResults.length > 0 && !isLoading"
      >
        <ng-container matColumnDef="Event">
          <th mat-header-cell class="center" *matHeaderCellDef>Event</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.eventName }} {{ element.year }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Venue">
          <th mat-header-cell class="center" *matHeaderCellDef>Venue</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.trackName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="City">
          <th mat-header-cell class="center" *matHeaderCellDef>City</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.city }} {{ element.state }}
          </td>
        </ng-container>

        <ng-container matColumnDef="District">
          <th mat-header-cell class="center" *matHeaderCellDef>District</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.district }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Class">
          <th mat-header-cell class="center" *matHeaderCellDef>Class</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.class }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Date">
          <th mat-header-cell class="center" *matHeaderCellDef>Date</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.dateString | date : "longDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Overall">
          <th mat-header-cell class="center" *matHeaderCellDef>Overall</th>
          <td mat-cell class="cell-pad" *matCellDef="let element">
            {{ element.overallResult > 42 ? "DNF" : element.overallResult }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="post-content">
      <mat-card>
        <h2>What's New?</h2>
        <form class="post-form">
          <mat-form-field class="full">
            <textarea
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              placeholder="Share something...."
              matInput
              appearance="none"
            ></textarea>
          </mat-form-field>
        </form>
        <div class="right">
          <button mat-raised-button color="primary">Post</button>
        </div>
      </mat-card>
    </div>
    <mat-divider class="feed-divider"></mat-divider>
    <div class="feed">
      <mat-card class="feed-card">
        <h2>MX Feed</h2>
      </mat-card>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
