<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm my-nav box-shadow mb-3"
  >
    <div class="container">
      <span class="navbar-brand uny" [routerLink]="['/home']">Unycross</span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        *ngIf="isUserAuthenticated()"
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" (click)="buildUserProfile()">Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/search-rider']"
              >Rider Lookup</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/track-finder']"
              >Track Finder</a
            >
          </li>
          <button
            mat-raised-button
            color="basic"
            class="nav-item nav-logout"
            [routerLinkActive]="['link-active']"
            (click)="logOut()"
          >
            Logout
          </button>
        </ul>
      </div>
    </div>
  </nav>
</header>
