a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:hover{
  cursor: pointer;
}

.nav-logout{
  margin-left: 15px;
}

.my-nav{
  background-color: #302f2f;
	color: rgb(255, 255, 255);
}

.my-nav a{
  color: rgb(255, 255, 255);
}

.uny{
  font-size: 24px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
